[Desktop Entry]
Name=LM Studio
Exec=lm-studio --force-device-scale-factor=1.5
Terminal=false
Type=Application
Icon=lm-studio
StartupWMClass=LM Studio
Comment=Use the chat UI or local server to experiment and develop with local LLMs.
Keywords=developer;llm;
category=Development;Utility;
MimeType=x-scheme-handler/lmstudio;
Categories=Development;
